<button class="card p-4 my-4 w-full" (click)="isExpanded.set(!isExpanded())">
  <div class="flex gap-4 items-center justify-between">
    <h2 class="text-lg font-semibold truncate">
      {{ workout().title }}
    </h2>
    <div class="flex flex-row gap-2">
      <a
        [routerLink]="`/edit/${workout().id}`"
        class="btn btn-secondary px-4 py-2 inline-flex items-center justify-center">
        <svg-icon key="edit" size="sm" />
      </a>
      <button
        (click)="toggleDraftMode($event)"
        class="btn btn-secondary px-4 py-2 inline-flex items-center justify-center">
        <svg-icon
          [key]="workout().isDraft ? 'visibility-off' : 'visibility'"
          size="sm" />
      </button>
      <button
        (click)="deleteWorkout(workout().id!)"
        class="btn btn-danger px-4 py-2 inline-flex items-center justify-center">
        <svg-icon key="delete" size="sm" />
      </button>
    </div>
  </div>

  <hr class="my-2 border-gray-200" />

  <ul
    [attr.aria-expanded]="isExpanded()"
    class="h-0 aria-expanded:h-auto transition-all duration-300 ease-in-out overflow-hidden">
    @for (exercise of exercises; track exercise.id) {
      <!-- TODO: Add exercise list -->
    } @empty {
      <li>
        <h3 class="font-semibold">No exercises</h3>
        <p>Edit this workout and add an Exercise</p>
      </li>
    }
  </ul>

  <div class="flex items-center justify-center">
    <svg-icon
      key="keyboard-arrow-up"
      [class]="
        `transition-all ease-in-out ${isExpanded() ? '' : '-rotate-180'}`
      "
      size="md" />
  </div>
</button>
